@import 'reset';
@import 'vars';

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*, *::before, *::after { /* stylelint-disable-line */
  box-sizing: inherit;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  color: var(--black);
  font-size: 1.6rem;
  line-height: 3rem;
}

input {
  -webkit-appearance: none; /* stylelint-disable-line */
  border-radius: 0;
}

.hide {
  display: none;
}

.header {
  background-color: var(--lightyellow);
  width: 100vw;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--white);
}

.navActiviteiten {
  display: flex;
}

.navigatie {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  background-color: var(--blue);
  padding: 1rem;
  font-size: 1.5rem;
  font-family: 'Avenir Next';
}

.navActiviteiten:hover .subNavigatie {
  display: block;
}

.subNavigatieMeer {
  background-color: var(--blue);
  padding: .5rem;
  margin-left: -2rem;
}

.subNavigatie {
  display: none;
  position: absolute;
  padding-top: 3rem;
  margin-left: -2.5rem;
  z-index: 20;
}

.homeIcon {
  margin: -1rem;
}

.pijltje::after {
  position: absolute;
  content: '';
  width: 1rem;
  height: 1rem;
  border-top: .3rem solid var(--white);
  border-left: .3rem solid var(--white);
  margin-left: 1rem;
  margin-top: 1rem;
  transform: rotate(225deg);
}

.subNavigatieA {
  background-color: var(--blue);
  padding: .5rem;
}

.active {
  border-bottom: var(--yellow) .3rem solid;
}

.subNavigatieA:hover {
  background-color: var(--yellow);
}

.navdesk {
  display: none;
}

.hoverNavigatie:hover {
  border-bottom: var(--yellow) .3rem solid;
}

.logo {
  margin-bottom: -1.1rem;
}

.headerActiviteiten {
  display: none;
}

.wvdm {
  display: block;
  justify-content: center;
  width: 100vw;
  position: absolute;
  text-align: center;
  z-index: 3;
  padding-top: 5rem;
  font-family: 'Avenir Next';
  font-size: 2rem;
  color: var(--white);
  line-height: 2.5rem;
}

.week {
  color: var(--blue);
  font-size: 4.5rem;
  font-family: 'Avenir Next';
}

.mobiliteit {
  font-size: 3.5rem;
  background-color: var(--blue);
  color: var(--white);
  padding: .1rem 1rem;
  line-height: 6rem;
}

.datum {
  font-size: 1.5rem;
}

/* home */

.h2Home {
  font-family: 'Avenir Next';
  font-size: 3.6rem;
  font-weight: 500;
  margin-top: 3.5rem;
  line-height: 4rem;
}

.pHome {
  font-size: 1.3rem;
  line-height: 2.3rem;
}

/* CAR FREE FESTIVAL */

.tekstCFF {
  margin-left: 3rem;
}

.carFreeFestival {
  display: flex;
  justify-content: flex-end;
}

.CFF_image {
  position: absolute;
  margin-top: 14rem;
}

.pCarFreeFestival {
  width: 40vw;
  margin-bottom: 6rem;
  padding-right: 1rem;
}

.ctahome {
  background-color: var(--yellow);
  padding: 1rem;
  font-size: 2rem;
}

.ctahome:hover {
  background-color: var(--blue);
  padding: 1rem;
}

/* Car free day */

.carFreeDay {
  margin-top: 1.5rem;
  display: flex;
}

.CFD_title {
  margin-left: 3rem;
}

.pCarFreeDay {
  margin-right: 2rem;
  margin-left: -2rem;
  width: 50vw;
}

/* Strapdag */

.strapdag {
  margin-top: 5rem;
}

.driehoek {
  background-image: url(../assets/images/driehoek.svg);
  background-repeat: no-repeat;
  background-position: right;
  height: 27rem;
}

.pStrapdag {
  background-color: var(--lightyellow);
  padding: 1rem;
}

.tekstStrapdag {
  position: absolute;
  align-items: flex-end;
  width: 50vw;
  right: 0;
}

.Strapdag_title {
  position: absolute;
  margin-top: -15rem;
  padding-bottom: 2rem;
  margin-left: -10rem;
  display: flex;
  justify-content: center;
}

.kinderen {
  font-size: 2rem;
  background: var(--blue);
  margin-bottom: 3.5rem;
  padding: .5rem 1rem;
  text-align: center;
  font-family: 'Avenir Next';
  font-weight: 500;
}

.imageStrapdag {
  position: absolute;
  z-index: 3;
}

/* AUTOVRIJE ZONDAG */

.AZ_title {
  padding-left: 3rem;
}

.pAutovrijeZondag {
  width: 40vw;
  margin-left: 2rem;
}

.imageAutovrijeZondag {
  margin-top: -16rem;
}

/* eigen activiteit */

.eigenActiviteit {
  background-color: var(--blue);
  width: 100vw;
  height: 35rem;
  background-image: url(../assets/images/stippen.png);
  padding-top: 3rem;
}

.divEigenActiviteit {
  margin: 0 auto;
  background-color: var(--blue);
  width: 80vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 3rem;
}

.titleEigenActiviteit {
  font-size: 2.4rem;
  text-align: center;
  font-family: 'Avenir Next';
  font-weight: 500;
  padding: 1rem;
  background-color: var(--yellow);
}

.pEigenActiviteit {
  margin: 0 auto;
  font-size: 1.3rem;
  text-align: center;
  padding: 1rem;
}

.submitInschrijven {
  font-size: 1.8rem;
  background-color: var(--yellow);
  padding: 1rem 3rem;
  margin: 0 auto;
  margin-top: 1rem;
  border: none;
  font-family: 'Avenir Next';
  font-weight: 500;
  margin-bottom: 2rem;
}

.submitInschrijven:hover {
  background-color: var(--lightyellow);
  border: none;
}

.submitInschrijven:focus {
  background-color: var(--lightyellow);
  outline: none;
  border: none;
}

/* sponsors */

.titleSponsors {
  font-size: 1.8rem;
  display: flex;
  justify-content: center;
  margin-top: 5rem;
  background-color: var(--blue);
  color: var(--white);
  padding-top: .5rem;
}

.sponsors {
  margin: 2rem;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

/* footer */

.footer {
  background-color: var(--lightblue);
  color: var(--blue);
  text-align: center;
  /* height: 10rem; */
  padding: 1rem;
  display: flex;
  justify-content: space-around;
}

/* activiteiten overzicht */

.zoekbalk {
  background-color: var(--yellow);
  width: 100vw;
  height: 6rem;
  display: flex;
  justify-content: space-between;
  z-index: 5;
}

.searchimage {
  width: 3.3rem;
  height: 3.7rem;
  padding-left: 1rem;
  padding-top: 1rem;
}

.searchinput {
  margin: .5rem;
  border: none;
  outline: none;
  height: 4rem;
  font-size: 1.8rem;
  width: 80vw;
  padding-left: 1rem;
  margin-right: 3.5rem;
  margin-left: 2rem;
  background-color: var(--yellow);
  border-bottom: var(--white) .3rem solid;
  color: var(--white);
}

.searchinput::placeholder {
  color: var(--white);
}

.submitSearch {
  display: none;
}

.fieldsetSearch {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.filter {
  background-color: var(--lightyellow);
  color: var(--grey);
  padding-bottom: 5rem;

}

.formFilter {
  display: flex;
  justify-content: center;
}

.filterTitle {
  font-size: 2rem;
  padding-top: 5rem;
  color: #434242;
}

.column {
  display: flex;
  flex-flow: column;
  margin-right: 3rem;
}

.inputplaats {
  background-color: var(--lightblue);
  font-size: 1.5rem;
  border: none;
  outline: none;
}

.inputPostcode {
  text-align: center;
  width: 8rem;
  height: 4rem;
}

.inputplaatsStad {
  width: 16rem;
  height: 4rem;
  padding-left: 1rem;
}

.filterDays {
  display: flex;
  flex-wrap: wrap;
  width: 90vw;
  text-align: center;
}

.radio {
  display: none;
}

.filterDay {
  color: #767575;
  background-color: var(--lightblue);
  width: 7rem;
  font-size: 2rem;
  margin: 2rem 2rem 2rem .1rem;
}

.filterDay:hover {
  color: var(--lightblue);
  background-color: var(--grey);
}

.radio:checked + .pRadio {
  color: var(--lightblue);
  background-color: var(--grey);
}

.submitFilterForm {
  background-color: var(--white);
  color: var(--yellow);
  font-size: 2.4rem;
  display: flex;
  justify-content: center;
  border: var(--white) .5rem solid;
  margin: 0 auto;
}

.submitFilterForm:hover {
  border: var(--yellow) .5rem solid;
}

.submitFilterForm:focus {
  border: var(--yellow) .5rem solid;
  outline: none;
}

.plaats {
  display: flex;
  justify-content: flex-start;
  font-size: 1.8rem;
  color: #434242;
}

.events {
  width: 100vw;
  font-family: 'Avenir Next';
}

.eventArticle {
  margin-bottom: 5rem;
}

.eventsImage {
  width: 100vw;
  height: 17.5rem;
  object-fit: cover;
  z-index: -4;
}

.eventTitle {
  font-size: 2rem;
  background-color: var(--pink);
  color: var(--white);
  width: 100vw;
  height: 8.5rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 5rem;
  line-height: 3rem;
  padding: .1rem 1rem;
}

.eventTimeTitle {
  font: 1.6rem;
  color: var(--white);
  background-color: var(--yellow);
  display: inline-block;
  padding: 0 1rem;
  padding-right: 1rem;
  margin-top: 5rem;
}

.eventsDriehoek {
  position: absolute;
  width: 100vw;
  height: 17.5rem;
  background: linear-gradient(45deg, var(--blue) 35%, transparent 35%);
}

.eventTimeDiv {
  position: absolute;
  margin-top: -15rem;
}

.eventTime {
  margin-left: 1rem;
  font-size: 1.3rem;
}

.eventInfo {
  display: flex;
  justify-content: space-between;
  font: 1.5rem;
  padding: .1rem 1rem;
}

.eventsAdres {
  font-size: 1.3rem;
  font-weight: bold;
}

.eventsDatum {
  text-align: right;
  font-size: 1.3rem;
}

/* detail */

.weekvdmobiliteitDetail {
  display: none;
}

.titleDetail {
  font-size: 3rem;
  font-family: 'Avenir Next';
  width: 100vw;
  margin: 0 auto;
  line-height: 4rem;
  color: var(--white);
  background-color: var(--pink);
  text-align: center;
  padding: .5rem 1rem;
  margin-bottom: 3.9rem;
}

.tags {
  display: flex;
  justify-content: space-around;
  flex-flow: wrap;
  width: 90vw;
  margin: 0 auto;
  margin-top: 3rem;
}

.tag {
  font-size: 1.3rem;
  padding: .3rem 1rem;
  margin: .7rem;
  background-color: var(--lightyellow);
  border-radius: 1rem;
}

.DetailSection2 {
  font-size: 3rem;

  & h3 {
    font-weight: bold;
    color: var(--pink);
    font-size: 2rem;
  }

  & h4 {

    color: var(--pink);
    font-size: 1.8rem;
  }

  & p {
    font-size: 1.6rem;
  }
}

.GeelInfoBlok {
  background-color: var(--lightyellow);
  width: 100vw;
  font-size: 1.3rem;
  display: grid;
  grid-template-columns: 5rem 1fr 1fr;
  grid-template-areas:
    'iconAdres adres locatie'
    'iconDate datum uur'
    'iconOrganisator organisators organisators';

  grid-row-gap: 3rem;
  padding: 2rem;
  margin-bottom: 3rem;
}

.iconAdres {
  grid-area: iconAdres;
  margin: 0 auto;
  width: 2.5rem;
}

.iconDate {
  grid-area: iconDate;
  width: 3rem;
  margin: 0 auto;
}

.iconOrganisator {
  grid-area: iconOrganisator;
  width: 3.5rem;
  margin: 0 auto;
}

.address {
  grid-area: adres;
  margin: 0 auto;
  width: 30vw;
}

.locatie {
  grid-area: locatie;
  margin: 0 auto;
}

.datumDetail {
  grid-area: datum;
  margin: 0 auto;
  width: 30vw;
}

.timeDetail {
  grid-area: uur;
  margin: 0 auto;
}

.organisators {
  grid-area: organisators;
  flex-wrap: wrap;
  margin-left: 1rem;
}

.infoblok {
  display: flex;
  padding-bottom: 5rem;
}

.eventImage {
  width: 100vw;
  height: 20rem;
  object-fit: cover;
  margin-top: 3rem;
  margin-bottom: -1rem;
}

.practicalTitle {
  font-size: 3rem;
  padding: 1rem;
}

.infoP {
  font-size: 1.5rem;
  padding: 1rem;
}

@media only screen and (min-width: 360px) {

  .CFF_image {
    margin-top: 9rem;
    padding-bottom: 5rem;
  }

  .CFF_title {
    margin-right: 2rem;
  }

  .pCarFreeFestival {
    width: 50vw;
    margin-bottom: 3rem;
  }

  .SectionCRF {
    padding-top: 5rem;
  }

  .pCarFreeDay {
    width: 30rem;
  }

  .imageAutovrijeZondag {
    padding-bottom: 0;
  }

  .imageStrapdag {
    margin-top: -1rem;
  }

  /* overzicht events */

  .eventsImage {
    height: 20rem;
  }

  .eventTitle {
    font-size: 2.1rem;
  }

  .eventsDriehoek {
    height: 20rem;
    background: linear-gradient(45deg, var(--blue) 33%, transparent 33%);
  }

}

@media only screen and (min-width: 390px) {

  .imageAutovrijeZondag {
    position: relative;
    width: 80vw;
    left: 20vw;
  }

  .AZ_title {
    width: 50vw;
  }

  .imageStrapdag {
    margin-top: -2rem;
  }

  .zoekbalk {
    width: 90vw;
    display: flex;
    margin: 0 auto;
  }

  /* overzicht events */

  .eventsImage {
    height: 22rem;
  }

  .eventTitle {
    font-size: 2.2rem;
  }

  .eventsDriehoek {
    height: 22rem;
  }

  .eventImage {
    height: 25rem;
  }

}

@media only screen and (min-width: 420px) {

  .SectionCRF {
    padding-top: 8rem;
  }

  .pHome {
    font-size: 1.5rem;
  }

  .zoekbalk {
    width: 80vw;
  }

  /* overzicht events */

  .eventsImage {
    height: 25rem;
  }

  .eventsDriehoek {
    height: 25rem;
    background: linear-gradient(45deg, var(--blue) 30%, transparent 30%);
  }

  .eventsAdres {
    font-size: 1.5rem;
  }

  .eventsDatum {
    font-size: 1.5rem;
  }

}

@media only screen and (min-width: 480px) {

  .SectionCRF {
    padding-top: 10rem;
  }

  .imageStrapdag {
    margin-left: 5rem;
  }

  .zoekbalk {
    width: 70vw;
  }

  /* overzicht events */

  .eventArticle {
    width: 90vw;
    margin: 0 auto;
    margin-bottom: 5rem;
  }

  .eventTitle {
    width: 90vw;
  }

  .eventsImage {
    width: 90vw;
  }

  .eventsDriehoek {
    width: 90vw;
  }

  .eventTimeDiv {
    margin-top: -17rem;
  }

  .eventImage {
    height: 25rem;
    width: 90vw;
    margin: 0 auto;
    margin-top: 3rem;
    display: flex;
    justify-content: center;
  }

  .GeelInfoBlok {
    width: 90vw;
    margin: 0 auto;
    margin-bottom: 3rem;
  }

  .DetailSection2 {
    width: 90vw;
    margin: 0 auto;
    padding-bottom: 5rem;
  }

}

@media only screen and (min-width: 530px) {

  .pCarFreeFestival {
    width: 24rem;
  }

  .tekstCFF {
    margin-left: -30rem;
  }

  .pHome {
    font-size: 1.6rem;
  }

  .wvdm {
    padding-top: 10rem;
    font-size: 3rem;
    line-height: 4rem;
  }

  .week {
    font-size: 5rem;
  }

  .mobiliteit {
    font-size: 4rem;
    padding: .1rem 1.5rem;
  }

  .datum {
    font-size: 1.6rem;
    padding-top: 2rem;
  }

  .eigenActiviteit {
    width: 70vw;
    margin: 0 auto;
  }

  .divEigenActiviteit {
    width: 50vw;
  }

  .CFD_title {
    margin-left: 20vw;
  }

  .imageStrapdag {
    margin-left: 8rem;
  }

  .zoekbalk {
    width: 60vw;
  }

  /* overzicht events */

  .eventArticle {
    width: 80vw;
  }

  .eventTitle {
    width: 80vw;
  }

  .eventsImage {
    width: 80vw;
    height: 30rem;
  }

  .eventsDriehoek {
    width: 80vw;
    height: 30rem;
  }

  /* detail */

  .GeelInfoBlok {
    background-color: var(--lightyellow);
    width: 70vw;
    font-size: 1.3rem;
    display: grid;
    grid-template: 5rem 1fr 1fr / 1fr 1fr 1fr;
    grid-template-areas:
      'iconAdres iconDate iconOrganisator'
      'adres datum organisators'
      'locatie uur organisators';

    grid-column-gap: 3rem;
    padding: 2rem;
  }

  .address {
    width: auto;
  }

  .datumDetail {
    width: auto;
  }

  .locatie {
    margin-left: 1rem;
  }

  .organisators {
    margin: 0 auto;
  }

  .tags {
    display: flex;
    justify-content: space-around;
    flex-flow: wrap;
    width: 40vw;
    position: absolute;
    margin: 0 auto;
    margin-top: -30rem;
    right: 0;
  }

  .eventImage {
    width: 70vw;
  }

  .DetailSection2 {
    width: 70vw;
    margin: 0 auto;
  }

}

@media only screen and (min-width: 600px) {

  .imageStrapdag {
    margin-top: -5rem;
  }

  .zoekbalk {
    width: 50vw;
    margin-top: -20rem;
    margin-left: 28rem;
  }

  /* overzicht events */

  .eventArticle {
    width: 70vw;
  }

  .eventTitle {
    width: 70vw;
  }

  .eventsImage {
    width: 70vw;
    height: 32rem;
  }

  .eventsDriehoek {
    width: 70vw;
    height: 32rem;
  }

  .locatie {
    margin-left: 3rem;
  }
}

@media only screen and (min-width: 700px) {

  .pHome {
    font-size: 1.7rem;
  }

  .SectionCRF {
    padding-top: 1rem;
  }

  .navigatie {
    width: 100vw;
  }

  .navmobile {
    display: none;
  }

  .navdesk {
    width: 55vw;
    display: flex;
    justify-content: space-around;
  }

  /* home */

  .wvdm {
    padding-top: 17rem;
    font-size: 4rem;
  }

  .week {
    font-size: 7rem;
  }

  .mobiliteit {
    font-size: 6rem;
    line-height: 10rem;
  }

  .datum {
    font-size: 1.8rem;
    padding-top: 5rem;
  }

  /* CAR FREE FESTIVAL */

  .CFF_title {
    margin-bottom: 3.5rem;
  }

  .tekstCFF {
    margin-right: -15rem;
  }

  .CFF_image {
    position: relative;
  }

  .carFreeFestival {
    margin-bottom: 1rem;
  }

  /* Strapdag */

  .strapdag {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 5rem;
    margin-top: -10rem;
  }

  .driehoek {
    width: 90vw;
    height: 55rem;
    right: 0;
  }

  .divStrapdag {
    width: 45vw;
    height: 22rem;
    padding: 2rem;
    padding-top: 15rem;
    background-color: var(--lightyellow);
    right: 0;
    position: absolute;
  }

  .tekstStrapdag {
    margin-top: 14rem;
  }

  .Strapdag_title {
    position: relative;
    margin: 0 auto;
    margin-top: -12rem;
  }

  .kinderen {
    font-size: 3rem;
    margin-left: 5rem;
    display: inline-block;
  }

  .imageStrapdag {
    margin-top: 13rem;
    margin-left: -28rem;
  }

  .pStrapdag {
    background-color: transparent;
  }

  /* AUTOVRIJE ZONDAG */

  .autovrijeZondag {
    width: 50vw;
    padding-bottom: 0;
  }

  .pAutovrijeZondag {
    width: 20vw;
  }

  .divAutovrijeZondag {
    margin-top: 1rem;
  }

  .AZ_title {
    width: 30vw;
  }

  .imageAutovrijeZondag {
    left: 0;
    width: 50vw;
  }

  /* eigen activiteit */

  .headerimage {
    display: flex;
    justify-content: center;
    width: 100vw;
  }

  .eigenActiviteit {
    width: 50vw;
  }

  .divEigenActiviteit {
    width: 40vw;
    padding-bottom: 5rem;
  }

  .titleEigenActiviteit {
    font-size: 2.6rem;
  }

  .pEigenActiviteit {
    width: 40vw;
  }

  .submitInschrijven {
    font-size: 2rem;
    margin-bottom: -1rem;
  }

  .autovrij_eigenActiviteit {
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }

  /* activiteiten */

  .logo {
    display: none;
  }

  .headerActiviteiten {
    display: block;
  }

  .weekvdmobiliteit {
    font-size: 2rem;
    padding: .1rem 6rem;
    display: inline-block;
  }

  .titleActiviteit {
    display: block;
    justify-content: center;
    width: 100vw;
    position: absolute;
    text-align: center;
    z-index: 3;
    padding-top: 10rem;
    font-size: 7rem;
    color: var(--white);
    line-height: 4rem;
    padding-bottom: 10rem;
  }

  .zoekbalk {
    width: 40vw;
    margin: 0 auto;
    margin-top: -15rem;
  }

  .divFilter {
    display: flex;
    justify-content: space-between;
  }

  .filterDays {
    width: 50vw;
  }

  /* Detail */

  .weekvdmobiliteitDetail {
    background-color: var(--blue);
    display: block;
    font-size: 2rem;
    width: 40vw;
    margin: 0 auto;
    margin-bottom: 3rem;
  }

  .tags {
    display: flex;
    justify-content: space-around;
    flex-flow: wrap;
    position: relative;
    width: 90vw;
    margin: 0 auto;
    margin-top: 5rem;
  }

  .detailTitle {
    font-size: 5rem;
    font-family: 'Avenir Next';
    font-weight: 500;
    width: 55vw;
    margin: 0 auto;
    line-height: 5.5rem;
    color: var(--white);
    text-align: center;
    padding: 0 0 1.5rem;
    margin-top: -2rem;
  }

  .titleDetail {
    display: none;
  }

  .headerDetail {
    background-color: var(--lightyellow);
    padding-bottom: -5rem;
  }

  .locatie {
    margin-left: 4rem;
  }

  .eventImage {
    width: 60vw;
    height: 30rem;
  }

  .GeelInfoBlok {
    width: 60vw;
  }
}

@media only screen and (min-width: 840px) {

  .driehoek {
    width: 110rem;
  }

  .divStrapdag {
    width: 35vw;
    padding: 3rem;
  }

  .tekstStrapdag {
    margin-top: 14rem;
  }

  .Strapdag_title {
    margin-top: -1rem;
  }

  .kinderen {
    font-size: 5rem;
    padding: 2.5rem 1rem;
  }

  .SectionCRF {
    margin-top: -5rem;
  }

  .navigatie {
    width: 80vw;
  }

  .navdesk {
    width: 43vw;
  }

  .wvdm {
    font-size: 4.5rem;
  }

  .week {
    font-size: 8rem;
  }

  .mobiliteit {
    font-size: 6rem;
  }

  .datum {
    font-size: 2rem;
  }

  .headerimage {
    width: 80vw;
    margin: 0 auto;
  }

  .zoekbalk {
    margin-top: -10rem;
  }

  /* overzicht events */

  .eventArticle {
    width: 50vw;
  }

  .eventTitle {
    width: 50vw;
  }

  .eventsImage {
    width: 50vw;
    height: 34rem;
  }

  .eventsDriehoek {
    width: 50vw;
    height: 34rem;
  }

  .eventsAdres {
    font-size: 1.8rem;
  }

  .eventsDatum {
    font-size: 1.8rem;
  }

  .detailTitle {
    font-size: 5rem;
    font-family: 'Avenir Next';
    font-weight: 500;
    width: 45vw;
    margin: 0 auto;
    line-height: 5.5rem;
    color: var(--white);
    text-align: center;
    padding: 0 0 1.5rem;
    margin-top: -2rem;
  }

  .address {
    text-align: center;
  }

  .locatie {
    margin: 0 auto;
  }

  .tags {
    width: 70vw;
  }

}

@media only screen and (min-width: 900px) {
  /* eigen activiteit */

  .eigenActiviteit {
    height: 40rem;
  }

  .titleEigenActiviteit {
    font-size: 3rem;
    margin-top: 1rem;
  }

  .pEigenActiviteit {
    font-size: 1.5rem;
    padding-top: 2rem;
    width: 35vw;
  }

  .submitInschrijven {
    font-size: 3.6rem;
    width: 27rem;
  }

}

@media only screen and (min-width: 930px) {

  .imageStrapdag {
    margin-top: -1rem;
  }

  .zoekbalk {
    margin-top: -16rem;
  }

}

@media only screen and (min-width: 1000px) {

  .carFreeDay {
    margin-right: 5rem;
  }

  .CFD_title {
    margin-top: -20rem;
    font-size: 4rem;
    margin-bottom: 3.5rem;
  }

  .pCarFreeDay {
    margin-left: -5rem;
  }

  .kinderen {
    margin-left: 15rem;
  }

  .imageStrapdag {
    margin-top: -5rem;
  }

  /* events filters */

  .days {
    margin-left: 5rem;
  }

  .filterDays {
    width: 40vw;
  }

  /* overzicht events */

  .events {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 5rem;
    font-family: 'Avenir Next';
  }

  .eventArticle {
    margin: 5rem 1rem;
    width: 45rem;
  }

  .eventsImage {
    width: 45rem;
    height: 36rem;
  }

  .eventTitle {
    font-size: 3rem;
    width: 45rem;
    line-height: 4rem;
  }

  .eventTimeTitle {
    font: 1.8rem;
    color: var(--white);
    background-color: var(--yellow);
    display: inline-block;
    padding: .15rem 1.5rem;
    padding-right: 5rem;
  }

  .eventsDriehoek {
    width: 45rem;
    height: 36rem;
  }

  .eventTime {
    margin-left: 3rem;
  }

  .eventInfo {
    font: 2.4rem;
  }

  .tags {
    width: 60vw;
  }

  .eventImage {
    height: 33rem;
  }

  .DetailSection {
    display: flex;
  }

  .GeelInfoBlok {
    height: 33rem;
    margin-top: 3rem;
  }

  .content {
    width: 50vw;
    margin: 0 2rem;
  }

  .practical {
    width: 50vw;
    margin: 0 2rem;
  }

  .DetailSection2 {
    width: 90vw;
    display: flex;
  }

  .detailTitle {
    width: 55rem;
    margin-top: 5rem;
  }

}

@media only screen and (min-width: 1247px) {

  .pHome {
    font-size: 1.8rem;
  }

  .navigatie {
    width: 65vw;
  }

  .navdesk {
    width: 35vw;
  }

  /* CAR FREE FESTIVAL */

  .CFF_title {
    font-size: 4rem;
    margin-bottom: 3.5rem;
  }

  .tekstCFF {
    margin-right: -25rem;
  }

  .carFreeFestival {
    justify-content: flex-end;
    margin-top: 5rem;
  }

  .pCarFreeFestival {
    width: 30rem;
  }

  /* CAR FREE DAY */

  .CFD_title {
    margin-top: -40rem;
  }

  /* STRAPDAG */

  .imageStrapdag {
    margin-top: -8rem;
    margin-left: -30rem;
  }

  /* AUTOVRIJE ZONDAG */

  .autovrij_eigenActiviteit {
    margin-top: 18rem;
  }

  .autovrijeZondag {
    justify-content: flex-end;
  }

  .AZ_title {
    font-size: 4rem;
    width: 10vw;
    line-height: 4rem;
    padding-bottom: 3rem;
  }

  .pAutovrijeZondag {
    width: 25rem;
  }

  .divAutovrijeZondag {
    margin-top: -7rem;
    position: absolute;
    margin-left: -5rem;
  }

  /* eigen activiteit */

  .eigenActiviteit {
    margin: 0;
    width: 50rem;
    height: 50rem;
  }

  .divEigenActiviteit {
    width: 45rem;
    margin-top: 3rem;
    padding-bottom: 6rem;
  }

  .titleEigenActiviteit {
    font-size: 3.6rem;
  }

  .pEigenActiviteit {
    font-size: 1.8rem;
    margin-top: 3rem;
    width: 38rem;
  }

  .submitInschrijven {
    margin-top: 8rem;
  }

  /* sponsors */

  .titleSponsors {
    font-size: 6rem;
    padding-top: 2rem;
  }

  .sponsors {
    margin: 5rem 20rem;
  }

  .blauwelijnSponsors {
    width: 100vw;
    height: 4rem;
    background-color: var(--blue);
    margin-top: -1rem;
  }

  /* activiteiten overzicht */

  .search {
    width: 100vw;
    display: flex;
    justify-content: center;
    position: absolute;
  }

  .zoekbalk {
    width: 50rem;
    height: 7rem;
    margin-top: -15rem;
  }

  .searchimage {
    width: 6rem;
    height: 7rem;
  }

  .searchinput {
    height: 6rem;
    font-size: 2rem;
    width: 40rem;
  }

  .submitSearch {
    display: inline;
    z-index: 5;
    background-color: var(--white);
    color: var(--yellow);
    font-size: 2.4rem;
    width: 10rem;
    margin: 0 auto;
    margin-top: 3rem;
    border: var(--white) .5rem solid;
  }

  .submitSearch:hover {
    border: var(--yellow) .5rem solid;
  }

  .divFilter {
    justify-content: space-around;
  }

  .filter {
    width: 100vw;
    height: 35rem;
    color: var(--grey);
  }

  .filterTitle {
    font-size: 2.4rem;
  }

  .filterKinderen {
    background-color: var(--lightblue);
    border: none;
    font-size: 2rem;
    padding: 1rem;
    width: 14rem;
    color: var(--grey);
  }

  .filterKinderen:hover {
    background-color: var(--grey);
    color: var(--lightblue);
  }

  .filterKinderen:focus {
    background-color: var(--grey);
    color: var(--lightblue);
    border: none;
    outline: none;
  }

  .column {
    display: flex;
    flex-flow: column;
    margin-right: 5rem;
  }

  .inputplaats {
    font-size: 1.8rem;
  }

  .inputplaatsStad {
    width: 20rem;
  }

  .filterDays {
    width: 45rem;
  }

  /* detail */

  .eventImage {
    width: 55vw;
  }
}
